<main style="width:50%;margin:50px auto;">
	<h1>Sample</h1>

	<p>Multi Select (with search)</p>
	<label>Agents</label>
	{{#power-select-multiple
	  options=names
	  searchField="name"
	  selected=name0
	  renderInPlace=true
	  onchange=(action "changeName" "name0")
	  labelText="Agents"
	  allowClear=true
	  as |username|
	}}
	  {{username.name}}
	{{/power-select-multiple}}

	<br>
	<p>Multi Select (no search)</p>
	<label>Agents</label>
	{{#power-select-multiple
	  options=names
	  searchField="name"
	  selected=name1
	  renderInPlace=true
	  onchange=(action "changeName" "name1")
	  labelText="Agents"
	  allowClear=true
	  searchEnabled=false
	  as |username|
	}}
	  {{username.name}}
	{{/power-select-multiple}}

	<br>
	<p>Single Select (with search)</p>
	<label>Agents</label>
	{{#power-select
	  options=names
	  searchField="name"
	  renderInPlace=true
	  selected=name2
	  onchange=(action "changeName" "name2")
	  labelText="Agents"
	  allowClear=true
	  as |username|
	}}
	  {{username.name}}
	{{/power-select}}

	<br>
	<p>Single Select (no search)</p>
	<label>Agents</label>
	{{#power-select
	  options=names
	  searchField="name"
	  renderInPlace=true
	  selected=name3
	  onchange=(action "changeName" "name3")
	  labelText="Agents"
	  allowClear=true
	  searchEnabled=false
	  as |username|
	}}
	  {{username.name}}
	{{/power-select}}
</main>