<ul id={{optionsId}} class="ember-power-select-options" role="listbox">
  <li aria-live="polite" aria-atomic="true" class="ember-power-select-option ember-power-select-option--search-message" role="option">
    {{searchMessage}}
  </li>
</ul>