<ul id={{optionsId}} class="ember-power-select-options" role="listbox">
  <li aria-live="assertive" class="ember-power-select-option ember-power-select-option--search-message" role="option">
    {{searchMessage}}
  </li>
</ul>