{{component beforeOptionsComponent
  animationEnabled=(readonly animationEnabled)
  extra=(readonly extra)
  listboxId=(readonly optionsId)
  onInput=onInput
  onKeydown=onKeydown
  searchEnabled=(readonly searchEnabled)
  onFocus=onFocus
  onBlur=onBlur
  placeholder=getPlaceholder
  placeholderComponent=(readonly placeholderComponent)
  searchPlaceholder=(readonly searchPlaceholder)
  select=(readonly publicAPI)
  selectedOption=(readonly select.selected)
  ariaActivedescendant=ariaActivedescendant
  dropdown=dropdown
  searchField=searchField
  ariaLabelledBy=(readonly ariaLabelledBy)
  selectedItemComponent=(readonly selectedItemComponent)}}

<span class="ember-power-select-status-icon" role="presentation"></span>